
/* These are some variables that are pre-defined that are used throughout the code */
:root {
    --base: white;
    --end-colors:navajowhite;
    --caption-colors:rgb(78, 67, 62);
    --caption-font:35px;
    --pic-width: 225px;
    --pic-height: 300 px;
    --border-size:2px;
    --border-style: ridge;
    --border-color: azure;
}



/* This is the code for the styling of the header */

header { 
    display: flex;
    justify-content: space-between;
    color: var(--caption-colors);
    position:relative;
    margin-top: -5px;
    height:60px;
    align-items:center;
    background-color:var(--end-colors);
}


header h1  {
    font-size: var(--caption-font);
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
    padding-top: 0px;
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    flex-wrap:wrap;
    
}

header nav ul li {
    display: inline-block;
    margin-left:30px;
    border-left: 5px solid dodgerblue;
}


/* This is the code for picture that divides the header from the main content */

.divider {
  
   
    margin-bottom: 0px;
}
.divider img {
    width:100%;
    height:auto;
    max-height:850px;
}


/* The start of the codes for the body of the webpage */
body {
    background-color: var(--base);
}

/* This is used to help with the formatting with the overall media queries */
.card-column {
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    align-items:center;
    justify-content: center;
  }


/* This identifier class is for the styling of the section break headers */
.identifier {
    font-size:var (--caption-font);
    text-align:left;
    box-sizing:border-box;
    border-top:var(--border-size) var(--border-style) var(--border-color);
    border-bottom:var(--border-size) var(--border-style) var(--border-color);
    background-color:var(--base);
    height: 50px;
    align-items: center;
    background-color:var(--end-colors);
}

.identifier h1{
    letter-spacing: -1px; 
    color: var(--caption-colors); 
    text-shadow: 1px 1px 0 #000; 
    margin:0px;
    margin-left:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* This is the section for the style for the 'aboutme' content */
.about-me {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.personal-description {
    display:flex;
    flex-direction: column;
    width:500px;
    padding:50px;
    
}

.personal-description h1{
    color:darkmagenta;
    font-size:40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.personal-description p {
    color:red;
    font-size:20px;
}


/* The card-lead class is shape the whole section of the leading application */
.card-lead {
    border-bottom:var(--border-size) var(--border-style) var(--border-color);
}

.picture-lead {
    width: 300px;
    height: 500px;
    border-radius:3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.picture-lead:hover {
    transform: scale(1.1);
    filter: brightness(.9);
}

.card-title {
    width: 225px;
    justify-content: center;
    overflow-wrap:normal;
}


/* This card-content code is shared by all applications */
.card-content {
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
}


/* This is the code for the rest of the applications */
.card {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    border-bottom: var(--border-size) var(--border-style) var(--border-color);
    align-items:center;
    justify-content:center;
   
}

.picture {
    width: var(--pic-width);
    height: var(--pic-heights);
    overflow: hidden;
    border-radius:3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.picture:hover {
    transform: scale(1.1);
    filter: brightness(.9);
    
}



/* This is the start of the code that applies to the footer */
footer {
    text-align: center;
    font-size:50px;
    background-color:var(--end-colors);
}

footer h1{
    font-size:20px;
    margin:0px;
}
footer h2 {
    font-size:15px;
    margin:0px;
    color:darkgoldenrod;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
    transform: scale(1.1);
}




/* This is the section to adjust the formatting for different size media screens */
@media screen and (max-width: 768px) {
    header h1 {
        font-size:20px;
    }
    header nav ul li {
        font-size:20px;
        padding:10px;
        margin:0px;
        border-left:0px;
        
    }

    header nav ul {
        display:flex;
        flex-direction:row;
        padding-left:20px;
    }
}

@media screen and (max-width: 300px) {
    header h1 {
        font-size:14px;
    }
    header nav ul li {
        font-size:14px;
        padding:10px;
        margin:0px;
        border-left:0px;
        
    }

    header nav ul {
        display:flex;
        flex-direction:row;
        padding-left:0px;
    }
}



